.publish {
  position: relative;
  .ql-container {
    height: 400px !important;
  }
}

.ant-upload-list {
  .ant-upload-list-picture-card-container,
  .ant-upload-select {
    width: 146px;
    height: 146px;
  }
}

.article-contianer{
  margin-left: 300.8px;
  margin-top: 29px;
  height: calc(100vh - 64px - 42px);
  overflow: auto;
  z-index: 99;
    position: relative;

}
